<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zy.server">

    <application>

        <activity
            android:name="com.zy.server.IPCMainActivity"
            android:label="IPCDemoActivity"
            android:process="com.example.ipcdemo.one" />

        <activity
            android:name="com.zy.server.IPCBindServiceActivity"
            android:label="IPCMainActivity"
            android:process="com.example.ipcdemo.one" />

    </application>

</manifest>