<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zy.algorithm">

    <application>
        <activity
            android:name=".AlgorithmMenuActivity"
            android:exported="false"
            android:label="算法" />
        <activity
            android:name=".AlgorithmMainActivity"
            android:exported="false"
            android:label="算法" />
    </application>

</manifest>