<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ipcdemo">
    <!-- 客户端申请自定义权限 -->
    <uses-permission android:name="com.example.binderservice.TEST_ACCESS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.ProxyManagerDemoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TwoActivity"
            android:process="com.example.ipcdemo.two" />
        <activity
            android:name=".activity.OneActivity"
            android:process="com.example.ipcdemo.one" />
        <activity
            android:name=".activity.IPCDemoActivity"
            android:process="com.example.ipcdemo.one" />

        <!--Activity Test Start-->
        <activity
            android:name=".study.activity.SubInNewProcessActivity"
            android:label="SubInNewProcessActivity"
            android:process="zy.demo.new.process" />

        <activity
            android:name=".study.activity.SubInProcessActivity"
            android:label="SubInProcessActivity"
            android:process="zy.demo.main.process" />
        <activity
            android:name=".study.activity.SubMainActivity"
            android:label="SubMainActivity"
            android:process="zy.demo.main.process" />
        <!--Activity Test End-->

        <activity
            android:name=".MainActivity"
            android:process="zy.demo.main.process">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>