<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zy.animation">

    <application>
        <activity
            android:name=".AnimationMainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".AnimationMenuActivity"
            android:exported="false" />
    </application>

</manifest>